.header {
  margin-bottom: 20px;
}

.headerfive {
  margin-bottom: -25px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__actions {}

.header__action {}

.header__action-back {
  width: 24px;
  height: 24px;
  background-color: transparent;
  outline: 0;
  border: 0;

  img {
    width: 24px;
    height: 24px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.header__action-settings {
  width: 24px;
  height: 24px;
  background-color: transparent;
  outline: 0;
  border: 0;

  img {
    width: 24px;
    height: 24px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}


.header__select {}

.header__selected {
  display: flex;
  align-items: center;
  column-gap: 4px;

  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
  color: var(--white-color);
}

.header__chat {}

.header__chat-icon {
  width: 24px;
  height: 24px;
}