.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 12px;
  height: 100%;
}

.start-screen__img {
  margin-bottom: 20px;
}

.start-screen__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  width: fit-content;
  margin: auto auto 0;

  font-size: 14px;
  line-height: 120%;
  color: var(--primary-color);
}

.start-screen__footer-link {
  font-size: 14px;
  line-height: 120%;
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: underline;
}

.create-password {
  display: flex;
  flex-direction: column;
}

.create-password__form {
  margin: 24px 0;
}

.create-password__pic {
  display: flex;
  justify-content: center;
  margin: 0 auto 6px;
  width: 182px;
  height: 182px;
}

.staking-process__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  text-align: center;

  .title--middle {
    margin-bottom: 18px;
  }
}

.staking-process__pic {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px;
}

.staking-process__support {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 14px auto 0;

  font-family: var(--secondary-font);
  text-align: center;
  font-size: 14px;
  line-height: 240%;
  text-decoration: underline;
  color: var(--white-color);
}

.dashboard__groups {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin: 40px 0 140px;
}

.dashboard__label {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
}

.dashboard__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.dashboard__column-label {
  font-size: 11px;
  line-height: 80%;
  letter-spacing: 1.1px;

  &:not(:first-child) {
    padding-left: 10px;
  }
}

.dashboard__column {
  text-align: center;
  line-height: 100%;
}

.dashboard__columns--sums {
  border-radius: 16px;
  background-color: #161616;
  overflow: hidden;

  .dashboard__column {
    padding: 18px 0 18px 10px;

    &:not(:last-child) {
      border-right: 1px solid #2C2C2C;
    }
  }
}

.dashboard__column--unstake {
  border-radius: 0px 16px 16px 0px;
  background-color: var(--primary-color);
  color: var(--black-color);
  font-weight: 600;
  line-height: 100%;
}

.info-pay__currency {
  margin-bottom: 20px;
}

.info-pay__currency-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  min-width: 100px;
  margin: 0 auto 20px;
  border-radius: 100%;
  background-color: var(--white-color);
}

.info-pay__currency-text {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 500;
  line-height: 100%;
}

.info-pay__info {
  margin-bottom: 20px;
  border-radius: 16px;
  background-color: #161616;
}

.info-pay__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 12px 16px;
  color: var(--white-color);
  font-size: 14px;
  line-height: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid #2C2C2C;
  }
}

.info-pay__row--center {
  justify-content: center;
}

.info-pay__info-link {
  color: var(--primary-color);
  text-align: center;
  font-size: 12px;
  line-height: 140%;
  text-decoration-line: underline;
}

.wallet {}

.wallet__banners {
  display: flex;
  align-items: center;
  column-gap: 20px;
  overflow-y: auto;
  margin-right: -20px;
  margin-bottom: 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}


.wallet__banner1 {
  display: flex;
  align-items: center;
  min-width: 350px;
  height: 90px;
  padding: 10px 20px;
  border: #161616;
  border-radius: 10px;
  background-color: var(--primary-color);
  background-image: url('./img/banner1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.wallet__banner2 {
  display: flex;
  align-items: center;
  min-width: 350px;
  height: 90px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  background-image: url('./img/banner2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.wallet__banner3 {
  display: flex;
  align-items: center;
  min-width: 350px;
  height: 90px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  background-image: url('./img/banner3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}


.wallet__banner {
  display: flex;
  align-items: center;
  width: 84%;
  min-width: 84%;
  height: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  background-image: url('./img/banner-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.wallet__banner-text {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 200%;
  text-transform: uppercase;
  color: var(--black-color);
}

.wallet__invoice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet__invoice-sum {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-bottom: 20px;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  color: var(--white-color);
}

.wallet__invoice-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 20px;
}

.wallet__invoice-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  width: 68px;
  min-width: 68px;
  height: 68px;
  min-height: 68px;
  border-radius: 24px;
  background-color: #161616;

  color: var(--white-color);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 100%;

  &.active {
    background-color: var(--primary-color);
    color: var(--black-color);
  }
}

.wallet__tokens {
  position: relative;
  min-height: 280px;
  margin: 0 -20px;
  padding: 16px;
  border-radius: 32px 32px 0px 0px;
  background-color: #161616;

  @media (max-width: 359px) {
    padding: 20px;
  }
}

.wallet__tokens-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 12px;
}

.wallet__tokens-label {
  margin: 0 20px;
  font-size: 15px;
  font-weight: 600;
}

.wallet__tokens-sort {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.wallet__token {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  padding: 12px 16px;
  border-radius: 22px;
  background-color: #232323;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.wallet__token-infos {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.wallet__token-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  min-width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: var(--white-color);
}

.wallet__token-info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.wallet__token-name {
  margin-bottom: 0;
  text-align: left;
}

.wallet__token-bottom {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.wallet__token-count {
  margin-bottom: 0;
}

.wallet__token-arrow {}

.wallet__token-percent {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

.wallet__token-sums {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-end;
  text-align: right;
}

.wallet__token-sum {
  margin: 0;
}

.send__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

.send__back {
  font-size: 14px;
  text-decoration: underline;
  color: var(--white-color);
}

.send__qr {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.send__qr-pic {
  width: 120px;
  height: 120px;
}

.activites,
.activities {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.active {}

.active__label {
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 1.1px;
}

.active__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  padding: 12px 16px;
  border-radius: 12px;
  background-color: #232323;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.active__info {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.active__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  min-width: 36px;
  height: 36px;
  border-radius: 100%;
}

.active__pic-icon {
  border-radius: 100%;
}

.active__texts {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.active__text {
  margin: 0;
}

.active__sums {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-end;
}

.active__sum {
  margin: 0;
  text-align: right;
}

.wallet {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 -20px;
  padding: 16px;
}